* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

.container {
    background-color: #E9E9E9;
    width: 600px;
    margin: auto;
}

.header {
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: #006D6D;
    padding: 20px;

}